__pycache__/
*.pyc
.venv/
env/
venv/
*.db
*.npy
*.pt
*.onnx
data/raw_videos/*
data/violations/*
!data/raw_videos/.gitkeep
data/calibration/*
!data/calibration/.gitkeep
data/training/*
!data/training/.gitkeep
models/*/*
!models/*/.gitkeep
datas/