ultralytics>=8.3.0
opencv-python
onnxruntime-gpu
fastapi
uvicorn[standard]
python-multipart
pyyaml
numpy
torch
torchvision
hezar
huggingface_hub
websockets








onnxruntime>=1.17.0
opencv-python>=4.8.0
numpy>=1.24.0
fastapi>=0.100.0
uvicorn[standard]>=0.22.0
python-multipart
pyyaml
tqdm